@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<h1> Here is All Bands Under My Venue @Model["venue"].GetName();</h1>
@foreach(var b in @Model["bands"])
{
  <h2>Band Names :@b.GetName()</h2>
  <h2>Create Date : @b.GetCreateDate()</h2>
}
