h1{
  padding-top: 100px;;
}
body
{
  font-family: 'Roboto Slab', serif;
}
#message{
  text-align: center
}
.viewBand:hover{
  color:black;
}
.viewBand{
  color:white;
}
.glyphicon-envelope{
  font-size: 50px;
  padding-right: 10px;
  color: green;
}
.displayNone{
  display: none;
}
.btn-block{
  width: 25%;
  float: left;
}
.container{
  width: 80%;
}
.deletedAllButton{
  width:100%;
  padding: 20px;
  font-size: 2vh;
  color: azure;
  background-color: cadetblue;
  border-radius: 20px;
}
